@import "/src/css//utilities";
.defaultform {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 20px 40px;
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &_title {
      text-align: center;
    }
    &_box {
      display: flex;
      flex-direction: column;
      gap: 15px;
      &_input {
        padding: 5px;
        border: none;
        border-bottom: 2px solid $border;
        box-shadow: 0px 14px 24px rgba(0, 0, 51, 0.04);
        outline: none;
      }
    }
    &_buttons {
      &_btn {
        margin-top: 15px;
        border: none;
        padding: 10px 30px;
        background-color: $secondary;
        color: $white;
        width: 100%;
        cursor: pointer;
      }
      &_register {
        border: none;
        background-color: $white;
        color: $primary;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.bacgkround {
  &_img {
    width: 100%;
    position: absolute;
    z-index: -5;
    height: calc(100vh - 64.39px);
    object-fit: cover;
  }
}
